<div class="container-fluid justify-content-center">
    <div class="main-div" style="display: flex; flex-direction: row; position: relative;">
        <div class="ShopCart">
            <div
                style="color: white; font-size: 40px; font-family: Poppins; font-weight: 275; word-wrap: break-word; margin-top: 20px;">
                ShopKart</div>
               

        </div>


        <div class="list ">
            <div
                style="color: white; font-size: 20px; font-family: Work Sans; font-weight: 400; word-wrap: break-word; display: inline; padding-right:5px; ">
                <b>WISHLIST (0)</b> </div>
            <div
                style="color: white; font-size: 20px; font-family: Work Sans; font-weight: 400; word-wrap: break-word;display: inline;">
                <b> BAG (0)</b></div>


        </div>


    </div>
</div>
