<div class="container-fluid text-light ">
<div class="d-flex justify-content-between" style="color:#626262; font-size: 15px;">
  
    <div class="logo d-flex gap-1">
        <i class=" icon bi bi-truck px-3"></i>
        <span class="delivery mt-4" >Free Delivery </span>
        
        <span class=" mt-4">Return Policy</span>
    </div>
    <div class="login mt-4  d-flex justify-content-between">
        <span class="mx-4">Login </span>
        <span class="follow"> Follow Us</span>
        <div class=" mr-4 ">
        <i class="bi bi-facebook  ms-2"></i>
        <i class="bi bi-linkedin ms-2"></i>
        <i class="bi bi-twitter ms-2"></i>
        <i class="bi bi-instagram ms-2"></i>
    </div>
    </div>

</div>

</div>