<div class="card text-black  bg-white mb-3 m-4" style="max-width: 20rem; border:none">
    <div class=" p-4" style="font-size: 40px;">New Products 
        <img src="./assets/Star 2.png" alt="" class="starimg">
        <hr style="height: 2px; margin-top: -12.5px;">
          
          
           
    </div>
    <div style="display: flex; justify-content: center; align-items: center; ; left:500px; right:0px ; margin-left: 600px; margin-top: -90px; padding-bottom:20px ; width: 100%; padding-left:40px; ">

        <div>
        <i class="bi bi-arrow-left text-center"  style="font-size: 60px; padding-right: 20px;"></i>
        <i class="bi bi-arrow-right text-center"   style="font-size: 60px;"></i>
      </div>
       
    </div>
   
    <div class="card-body" style="color: black; font-size: 18px; font-family: Work Sans; font-weight: 400; word-wrap: break-word">
     
      <p class="card-text">Apparel</p>
      <h2 class="card-title">Accessories</h2>
      <p class="card-text">Best Seller</p>
      <p class="card-text">50% Off</p>
    </div>
  </div>

<div class="card-group" style="margin-left:400px; margin-top: -150px;">
    <div class="card" style="height: 100px; width: 100px;">
      <img src="../assets/philipp-arlt-8EyB_RvaWtY-unsplash (2).png" class="card-img-top" alt="...">
      <i class="bi bi-arrow-up-right-circle-fill " style="color:black; font-size: 30px;margin-top: -30px; margin-left: 250px;" ></i>
      <div class="card-body">
        <h5 class="card-title">FLORIDA JACKET</h5>
        <p class="card-text">Suffered alteration in some form, bysuffalterattion in some forme, byinjected humor, or randomised</p>
        <h5 class="card-title"><b>$100</b></h5>
      </div>
    </div>
    <div class="card" style="height: 100px; width: 100px;">
      <img src="../assets/zam-nungaray-acw3b7q6Ys0-unsplash (1).png" class="card-img-top" alt="...">
      <i class="bi bi-arrow-up-right-circle-fill " style="color:rgb(223, 153, 153); font-size: 30px;margin-top: -30px; margin-left: 250px;" ></i>
      <div class="card-body">
        <h5 class="card-title">FLORIDA JACKET</h5>
        <p class="card-text">Suffered alteration in some form, bysuffalterattion in some forme, byinjected humor, or randomised</p>
        <h5 class="card-title"><b>$100</b></h5>
      </div>
    </div>
    <div class="card" style="height: 100px;width: 100px;">
      <img src="../assets/malicki-m-beser-PKMvkg7vnUo-unsplash (1).png" class="card-img-top" alt="...">
      <i class="bi bi-arrow-up-right-circle-fill " style="color:rgb(38, 36, 36); font-size: 30px;margin-top: -30px; margin-left: 250px;" ></i>
      <div class="card-body">
        <h5 class="card-title">FLORIDA JACKET</h5>
        <p class="card-text">Suffered alteration in some form, bysuffalterattion in some forme, byinjected humor, or randomised</p>
        <h5 class="card-title"><b>$100</b></h5>
      </div>
    </div>
    <div class="card" style="max-height:20px;width: 100px;">
        <img src="../assets/zam-nungaray-acw3b7q6Ys0-unsplash (1).png" class="card-img-top" alt="..." >
        <i class="bi bi-arrow-up-right-circle-fill " style="color:rgb(225, 135, 135); font-size: 30px;margin-top: -30px; margin-left: 250px;" ></i>
        <div class="card-body">
          <h5 class="card-title">FLORIDA JACKET</h5>
          <p class="card-text">Suffered alteration in some form, bysuffalterattion in some forme, byinjected humor, or randomised</p>
          <h5 class="card-title"><b>$100</b></h5>
        </div>
  </div>

